mixin case(vars)
  +b.case
    +e.inner.inner
      +e.head
        +e.H2.title
          span Примеры 
          | реальных работ 
        +e.control
          +b.swiper-btn_prev
            svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14')
              path(fill-rule='evenodd' clip-rule='evenodd' d='m1.5 8.4 6 5.6L9 12.6 3 7l6-5.6L7.5 0 0 7l1.5-1.4L3 7 1.5 8.4Z')
              path(d='M1.5 5.6 0 7l1.5 1.4L3 7 1.5 5.6Z' )
          +b.swiper-btn_next
            svg(width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.50003 5.60002L1.5 -6.55671e-07L1.10153e-06 1.4L6.00003 7.00001L3.15936e-05 12.6L1.50003 14L9 6.99999L7.5 8.39998L6.00003 7.00001L7.50003 5.60002Z')
              path(d='M7.5 8.39998L9 6.99999L7.50003 5.60002L6.00003 7.00001L7.5 8.39998Z')
      .swiper-container
        .swiper-wrapper
          +e.slide.swiper-slide
            +e.IMG.pic(src='/images/case-1.png' alt='')
            +e.content
              +e.P.caption На фото фасад дома из пиломатериалов “Окрашенная имитация бруса”
              ul
                li Вид профиля - имитация бруса (рау-хаус), сосна камерной сушки, сорт АБ
                li Покраска на станке в 2 слоя, укрывная краска TEKNOS, цвет 1815
                li Назначение - внешняя отделка каркасного дома 8х7 метров
                li Объект располагается в Богородском районе
          +e.slide.swiper-slide
            +e.IMG.pic(src='/images/case-2.png' alt='')
            +e.content
              +e.P.caption На фото фасад дома из пиломатериалов “Окрашенная имитация бруса”
              ul
                li Вид профиля - имитация бруса (рау-хаус), сосна камерной сушки, сорт АБ
                li Покраска на станке в 2 слоя, укрывная краска TEKNOS, цвет 1815
                li Назначение - внешняя отделка каркасного дома 8х7 метров
                li Объект располагается в Богородском районе
          +e.slide.swiper-slide
            +e.IMG.pic(src='/images/case-1.png' alt='')
            +e.content
              +e.P.caption На фото фасад дома из пиломатериалов “Окрашенная имитация бруса”
              ul
                li Вид профиля - имитация бруса (рау-хаус), сосна камерной сушки, сорт АБ
                li Покраска на станке в 2 слоя, укрывная краска TEKNOS, цвет 1815
                li Назначение - внешняя отделка каркасного дома 8х7 метров
                li Объект располагается в Богородском районе
          +e.slide.swiper-slide
            +e.IMG.pic(src='/images/case-2.png' alt='')
            +e.content
              +e.P.caption На фото фасад дома из пиломатериалов “Окрашенная имитация бруса”
              ul
                li Вид профиля - имитация бруса (рау-хаус), сосна камерной сушки, сорт АБ
                li Покраска на станке в 2 слоя, укрывная краска TEKNOS, цвет 1815
                li Назначение - внешняя отделка каркасного дома 8х7 метров
                li Объект располагается в Богородском районе
