mixin callback(state)
  if state == 'v1'
    +b.callback
      +e.inner.inner
        +e.action
          +e.IMG.pic(src='/images/call-1.png' alt='')
          +e.box
            +e.P.title Поможем 
              span подобрать материал 
              | под Вашу задачу
            +e.info
              +e.call
                +e.A.phone(href='tel:+7 (831) 260-15-89') +7 (831) 260-15-89
                +e.link-mess
                  +e.A.mess(href="#")
                    +e.SVG.mess-icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M5.42 7.76c-.03-.46.06-.91.26-1.33.06-.16.15-.31.26-.45.2-.26.45-.47.75-.6 0 0 .88-.08.96.04.4.7.75 1.45 1.02 2.22.14.5-.57 1.08-.57 1.08s-.45.23 0 .8c.33.42.9 1.15 1.24 1.42.37.3.75.56 1.16.8.83.46.99.41.99.41s.15.06.57-.5c.23-.31.47-.67.7-.74.28-.08 2.46 1.17 2.38 1.08.15.16.03.65.03.65s.05.55-.79 1.19c-.54.41-1.45.51-1.45.51a5.57 5.57 0 0 1-1.67-.38c-.88-.33-1.82-.61-3.04-1.71a12.26 12.26 0 0 1-2.18-2.61c-.64-1.1-.62-1.88-.62-1.88Zm4.77 11.8c-1.7 0-3.36-.44-4.84-1.27L0 20l1.76-5.21A9.75 9.75 0 0 1 8.81.09 9.84 9.84 0 0 1 19.23 6a9.74 9.74 0 0 1-3.05 11.53 9.84 9.84 0 0 1-5.99 2.04Zm-.01-17.9a8.22 8.22 0 0 0-7.3 4.41 8.14 8.14 0 0 0 .59 8.49l-.78 2.36-.23.67 1.33-.4 1.8-.57a8.23 8.23 0 0 0 12.45-4.4 8.15 8.15 0 0 0-4.17-9.69 8.23 8.23 0 0 0-3.7-.86Z' fill='#00C232')
                  +e.A.mess(href="#")
                    +e.SVG.mess-icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 22')
                      path(d='M17.74 2.14c-.52-.5-2.64-2.1-7.36-2.12 0 0-5.56-.35-8.27 2.24C.6 3.84.07 6.14 0 9c-.05 2.86-.13 8.2 4.82 9.66v2.22s-.03.9.54 1.08c.68.22 1.08-.46 1.74-1.2.36-.4.85-1 1.23-1.45 3.38.3 5.98-.38 6.28-.48.68-.23 4.55-.75 5.18-6.1.65-5.52-.32-9.01-2.06-10.59Zm.59 10.2c-.53 4.46-3.67 4.74-4.25 4.94-.24.08-2.53.67-5.4.48l-3.12 3.52v-4.06h-.03c-4.18-1.22-4.04-5.76-4-8.15.05-2.39.48-4.34 1.76-5.66 2.3-2.17 7.02-1.84 7.02-1.84 3.99.02 5.9 1.27 6.34 1.69 1.48 1.32 2.23 4.46 1.68 9.07Z' fill='#AA5ABE')
                      path(d='M14.72 13s-.63-.55-.94-.8c-.29-.21-.75-.51-1.01-.67-.47-.27-.95-.1-1.14.17l-.41.53c-.21.27-.53.23-.62.21a4.31 4.31 0 0 1-1.9-1.18A4.02 4.02 0 0 1 7.5 9.2l-.02-.05c-.04-.29.01-.42.13-.62l.02-.02c.27-.26.79-.58.85-.88.2-.53-.67-1.63-.8-1.82 0 0-.63-.86-.85-1.02a.82.82 0 0 0-1-.09l-.02.02c-1.1.75-1.5 1.19-1.38 1.83l.05.26A14.04 14.04 0 0 0 7.7 12.2a13.95 13.95 0 0 0 4.97 3.37c.44.14.9.02 1.36-.39.37-.35.65-.7.86-1.1.2-.42.14-.8-.17-1.07ZM12.1 9.1a.13.13 0 0 1-.12-.13 1.62 1.62 0 0 0-.37-1.05 1.38 1.38 0 0 0-.96-.39.13.13 0 0 1-.12-.13c0-.08.06-.13.13-.13.49.03.87.19 1.14.47.26.28.4.7.43 1.22 0 .07-.05.13-.12.14Z' fill='#AA5ABE')
                      path(d='M13.35 9.53a.13.13 0 0 1-.13-.13 3.15 3.15 0 0 0-.75-2.23c-.26-.3-.58-.53-.94-.7a3.72 3.72 0 0 0-1.26-.3.13.13 0 0 1-.11-.14c0-.07.06-.12.13-.12 1 .08 1.8.44 2.36 1.08.57.65.85 1.46.82 2.42 0 .07-.05.12-.12.12Z' fill='#AA5ABE')
                      path(d='M14.62 10.05a.13.13 0 0 1-.12-.13c0-.78-.12-1.49-.35-2.1a4.41 4.41 0 0 0-2.48-2.61 4.82 4.82 0 0 0-1.82-.35.13.13 0 0 1-.12-.13c0-.07.06-.13.13-.13a4.75 4.75 0 0 1 4.53 3.12c.23.65.35 1.39.36 2.2 0 .07-.06.13-.12.13Z' fill='#AA5ABE')
                  +e.A.mess(href="#")
                    +e.SVG.mess-icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 18')
                      path(d='M1.29 7.84s9.29-3.95 12.5-5.34c1.24-.56 5.43-2.34 5.43-2.34s1.93-.78 1.77 1.11c-.05.78-.48 3.5-.91 6.46-.65 4.17-1.34 8.74-1.34 8.74s-.11 1.28-1.02 1.5c-.92.22-2.42-.78-2.69-1-.21-.17-4.03-2.68-5.42-3.9-.38-.33-.8-1 .05-1.78a208.6 208.6 0 0 0 5.64-5.57c.64-.66 1.29-2.22-1.4-.33-3.8 2.73-7.57 5.29-7.57 5.29s-.85.55-2.47.05C2.26 10.23.37 9.56.37 9.56s-1.28-.83.92-1.72Z' fill='#35AEE2')
              +e.call
                +e.A.mail(href="mailto:sale@SpecStroy.ru") sale@SpecStroy.ru
            +e.FORM.form
              +e.row
                +b.INPUT.field.required(type="tel" placeholder="Ваш телефон")
                +e.BUTTON.submit.btn Оставить заявку
              +e.P.sign Оставляя заявку, Вы соглашаетесь с 
                a(href="#")  политикой конфиденциальности
  if state == 'v2'
    +b.callback-price
      +e.inner.inner
        +e.action
          +e.FIGURE.picture
            +e.IMG.pic(src='/images/call-2.png' alt='')
            +e.FIGCAPTION.txt Виталий Логвинов
              span Менеджер отдела продаж
          +e.box
            +e.P.title Поможем 
              br
              span рассчитать стоимость
            +e.P.subtitle Оставьте заявку. Наш менеджер свяжется с Вами и проконсультирует.
            +e.FORM.form
              +e.row
                +b.INPUT.field.required(type="text" placeholder="Ваше имя")
                +b.INPUT.field.required(type="tel" placeholder="Ваш телефон")
                +e.BUTTON.submit.btn Оставить заявку
              +e.P.sign Оставляя заявку, Вы соглашаетесь с 
                a(href="#")  политикой конфиденциальности