include ../static/pug/global
<!DOCTYPE html>
html
  +head('Главная')
  body.index
    +header()
    +banner('index')
    +product('index')
    +step('index')
    +work('work')
    +work('workshop')
    +vantage('v1')
    +review()
    +case()
    +faq()
    +footer()
    include ../static/pug/_scripts