include ../static/pug/global
<!DOCTYPE html>
html
  +head('Каталог')
  body.index
    +header()
    +product('single')
    +vantage('v2')
    +step('prod')
    +work('workshop')
    +review()
    +faq()
    +case()
    +callback('v1')
    +footer()
    include ../static/pug/_scripts