mixin faq(vars)
  +b.faq
    +e.inner.inner
      +e.H2.title Часто задаваемые 
        span вопросы
      +e.contain
        +e.list
          +e.item.active
            +e.BUTTON.btn
            +e.content
              +e.top Часто задаваемый вопрос, на который нужно ответить
              +e.bottom(style="display: block") Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          +e.item
            +e.BUTTON.btn
            +e.content
              +e.top Часто задаваемый вопрос, на который нужно ответить
              +e.bottom Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          +e.item
            +e.BUTTON.btn
            +e.content
              +e.top Часто задаваемый вопрос, на который нужно ответить
              +e.bottom Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          +e.item
            +e.BUTTON.btn
            +e.content
              +e.top Часто задаваемый вопрос, на который нужно ответить
              +e.bottom Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
          +e.item
            +e.BUTTON.btn
            +e.content
              +e.top Часто задаваемый вопрос, на который нужно ответить
              +e.bottom Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
        +e.FORM.form
          +e.P.caption Остались вопросы?
          +e.P.subcaption Оставьте заявку и Наш менеджер свяжется с Вами и проконсультирует
          +b.INPUT.field(type="text" placeholder="Ваше имя")
          +b.INPUT.field(type="text" placeholder="Ваш телефон")
          +b.TEXTAREA.field_area(placeholder="Ваш вопрос")
          +e.BUTTON.submit.btn Оставить заявку
          +e.P.sign Оставляя заявку, Вы соглашаетесь с
            a(href="#")  “Политикой конфиденциальности”