mixin review(vars)
  +b.review
    +e.inner.inner
      +e.H2.title
        span Отзывы 
        | наших клиентов
      .swiper-container
        .swiper-wrapper
          +e.slide.swiper-slide
            +e.text "Делала покраску бруса в компании "покрасочный цех №1" - очень довольна! Качесвенно! Дешево! Надежно! Еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили.
            +e.bottom
              +e.IMG.pic(src='/images/review.jpg' alt='')
              +e.P.name Котелков Александр, 48 лет
          +e.slide.swiper-slide
            +e.text "Делала покраску бруса в компании "покрасочный цех №1" - очень довольна! Качесвенно! Дешево! Надежно! Еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили.
            +e.bottom
              +e.IMG.pic(src='/images/review.jpg' alt='')
              +e.P.name Котелков Александр, 48 лет
          +e.slide.swiper-slide
            +e.text "Делала покраску бруса в компании "покрасочный цех №1" - очень довольна! Качесвенно! Дешево! Надежно! Еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили.
            +e.bottom
              +e.IMG.pic(src='/images/review.jpg' alt='')
              +e.P.name Котелков Александр, 48 лет
          +e.slide.swiper-slide
            +e.text "Делала покраску бруса в компании "покрасочный цех №1" - очень довольна! Качесвенно! Дешево! Надежно! Еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили.
            +e.bottom
              +e.IMG.pic(src='/images/review.jpg' alt='')
              +e.P.name Котелков Александр, 48 лет
        +b.swiper-pagination