include _modal

+b.up

script(src='/libs/jQuery/jquery-3.3.1.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script(src='/libs/swiper/script.js')
script(src='/libs/select2/script.js')
script(src='/libs/animatenumber/jquery.animateNumber.min.js')
script(src='/libs/inputmask/jquery.masked.input.js')
script(src="/js/common.js")