include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/vantage/vantage
include ../../modules/product/product
include ../../modules/step/step
include ../../modules/work/work
include ../../modules/review/review
include ../../modules/case/case
include ../../modules/faq/faq
include ../../modules/catalog/catalog
//- include ../../modules/brands/brands
//- include ../../modules/news/news
//- include ../../modules/contacts/contacts
include ../../modules/callback/callback
include ../../modules/footer/footer
